spring:
  datasource:
    url: jdbc:mysql://localhost:3306/employee_management_app?useSSl=false
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: 12345

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: mysql
    database-platform: org.hibernate.dialect.MySQLDialect

secret:
  key: e246d2122b6c12acc7ccd5d685a1eab6899790bb26bd20cc7782621480a20d48



logging:
  level:
    root: info





